@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dd2033;
    --info: #17a3b8;
    --warning: #ffc107;
    --marron: #582f00;
    --light: #f8f9fa;
    --dark: #343a40;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: lato;
}

body {
    min-height: 100%;
    padding: 0;
    line-height: 1.5;
    background: #343a4062;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--info);
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5rem auto;
}

input[type=submit]:hover {
    background-color: #45a049;
}

select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* ALERT */

.alert {
    width: 50%;
    height: 50px;
    position: relative;
    text-align: center;
    padding: 0.75rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #cfe2d3;
    background-color: var(--success);
}

.alert-error {
    color: #e6bfbf;
    background-color: var(--danger);
}

.alert-info {
    color: #bfd1e6;
    background-color: var(--info);
}


/* ICONS */

#icon-bar {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    width: 100%;
}

#icon-bar>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(255, 0, 242, 0);
    width: 50%;
    max-height: 100%;
    height: 20px;
    font-size: 10px;
    transition: all .5s;
}

#icon-bar>a:hover {
    font-size: 20px;
}

.facebook {
    color: #1877f2;
}

.twitter {
    color: #1da1f2;
}

.google {
    color: #ea4335;
}

.linkedin {
    color: #0a66c2;
}

.youtube {
    color: #ff0000;
}


/* NAVBAR */

.header-banner {
    background-image: url("/assets//images/banner.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.header-banner h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2503037e;
    color: #ffffff;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 100%;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px 1px #00000079;
}

nav {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    z-index: 100;
    background: #76542d;
}

nav p {
    visibility: hidden;
    width: 0;
}

.visible-title {
    padding: 2rem;
    font-size: 2rem;
    width: 50%;
    visibility: visible;
    text-align: center;
}

.site-title {
    background: #250303fb;
    color: var(--white);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.list .list_li .link {
    font-size: .8rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--white);
}

.list .list_li .link:hover {
    color: #250303fb;
}

.list_li .link {
    margin: 0 auto;
    padding: .2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list_li {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: .5rem auto;
    gap: .5rem;
}

.list_li a {
    font-family: Lato;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #000000a1;
    padding: 0.5rem;
    text-decoration: none;
}


/* Dropdown */

.deroulant_content {
    visibility: hidden;
    position: absolute;
    max-width: 150px;
    padding: .5rem;
    z-index: 10;
    text-align: left;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

.deroulant_content a {
    transition: background-color .5s;
    background-color: #250303fb;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;
    display: block;
}

.deroulant_content a:hover {
    background-color: #317cb9;
}

.deroulant:hover .deroulant_content {
    visibility: visible;
}


/* END NAVBAR */


/* CONTENT */

.content {
    background-color: rgb(255, 255, 255);
    float: none;
    margin: 2rem auto;
    padding: 1rem;
    width: 1200px;
    transition: all .5s;
    max-width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}


/* ACCUEIL */

.accueil {
    background: #d7cdc2;
    color: var(--gray-dark);
    margin: 1rem auto;
    text-align: center;
    min-width: 100%;
}

.accueil h2 {
    padding: 0;
    color: white;
    background: #260303;
}

.accueil p {
    padding: 0.5rem;
    text-align: justify;
}

.accueil_aside {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 0;
}

.accueil_aside_cards {
    background: #3b000000;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accueil_aside_cards_card {
    background: #00000000;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.accueil_aside_cards_card_img {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
    background-image: url("/assets/images/10000-ans-avant-jesus.jpeg");
}

.accueil_aside_cards_card_title {
    border-radius: .5rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    background-color: #76542d;
}

.accueil_aside_cards_card_body {
    color: #ffffff;
    position: relative;
    z-index: 1;
    background-color: #260303;
    width: 100%;
    text-align: center;
}

.accueil_aside_cards_card:hover .accueil_aside_cards_card_img,
.accueil_aside_cards_card:focus .accueil_aside_cards_card_img {
    transform: scale(1.7);
}

.accueil_aside_cards_card:hover .accueil_aside_cards_card_img:before,
.accueil_aside_cards_card:focus .accueil_aside_cards_card_img:before {
    display: block;
}


/* PAGE ARTICLES */


/* LES ARTICLES ASIDE */

.page_les_articles_aside {
    background: #0011ff00;
    display: flex;
}

.page_les_articles_aside_title {
    background: #ff000000;
}

.page_les_articles_aside_cards {
    background: #d9ff0000;
    padding: .5rem;
    flex-wrap: wrap;
    display: flex;
}

.page_les_articles_aside_cards_card {
    width: 100%;
    background: #6d800000;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.page_les_articles_aside_cards_card_img {
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    width: 100%;
    background: #00a53700;
    position: relative;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.page_les_articles_aside_cards_card_title {
    font-size: 1.2rem;
    background: #250303fb;
    color: var(--white);
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.page_les_articles_aside_cards_card_body {
    background-color: #ffffffc2;
    color: var(--dark);
    height: 100px;
    max-width: 100%;
    font-size: 0.8rem;
}


/* LES ARTICLES */

.page_les_articles {
    background: rgba(255, 0, 0, 0);
    margin: 0;
}

.page_les_articles_cards {
    background: rgba(255, 0, 0, 0);
}

.page_les_articles_cards_card {
    width: 100%;
    background: rgba(0, 128, 0, 0);
    padding: 0;
    text-decoration: none;
}

.page_les_articles_cards_card_link_header {
    width: 100%;
    border-radius: 1rem;
    background: #250303fb;
    color: var(--white);
    display: flex;
    flex-direction: column;
    top: 0;
    text-decoration: none;
    margin: .5rem;
    padding: 0;
    margin: 0;
}

.page_les_articles_cards_card_link_header_title {
    height: 50px;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_les_articles_cards_card_link_header_img {
    background-color: white;
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.page_les_articles_cards_card_body {
    background-color: #d7cdc2;
    color: var(--dark);
    padding: .5rem;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.page_les_articles_cards_card_body_infos {
    background: rgba(255, 0, 170, 0);
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_les_articles_cards_card_body_infos_folder {
    background-color: rgba(0, 255, 170, 0);
}

.page_les_articles_cards_card_body_infos_calendar {
    background-color: rgba(0, 16, 247, 0);
}

.page_les_articles_cards_card_body_infos_author {
    background-color: rgba(255, 0, 179, 0);
}

.page_les_articles_cards_card_body_content {
    background-color: rgba(123, 255, 0, 0);
}

.page_les_articles_cards_card_body_content_resume {
    background-color: #ffffff00;
}

.page_les_articles_cards_card_body_content_social {
    background-color: #eeff0000;
}


/* FIN ARTICLES */


/* ARTICLE SHOW */

.page_articles_show_infos {
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255, 0, 0, 0);
}

.page_articles_show_infos_date {
    font-size: .8rem;
    width: 100%;
    display: flex;
    gap: .5rem;
    background-color: rgba(255, 255, 255, 0);
}

.page_articles_show_infos_like {
    width: 100%;
    font-size: .8rem;
    align-items: center;
    justify-content: right;
    gap: .5rem;
    display: flex;
    background-color: rgba(161, 248, 0, 0);
}

.page_articles_show_infos_social {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgba(255, 255, 255, 0);
}


/* FIN ARTICLE SHOW */


/* CATEGORIES */

.page_les_categories {
    padding: 1rem;
}

.categories_cards {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
}

.categories_cards a {
    text-decoration: none;
}

.categories_card {
    width: 250px;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
}

.categories_card_img {
    display: flex;
    align-items: center;
    height: 150px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}

.categories_card:hover .categories_card_img,
.categories_card:focus .categories_card_img {
    transform: scale(1.2);
}

.categories_card:hover .categories_card_img:before,
.categories_card:focus .categories_card_img:before {
    display: block;
}

.categories_card_body {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
}

.categories_card_title {
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    background-color: #17a3b8;
}

.categories_card_articles_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}


/* FIN CATEGORIES */


/* CONTENT USER */

.content_users {
    /* background-color: var(--marron); */
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    transition: all .5s;
    max-width: 100%;
    height: min-content;
}


/* USERS ACCUEIL */

.page_users_accueil {
    background-color: rgba(119, 0, 255, 0);
    padding: 1rem;
    margin: 0 auto;
}

.page_users_accueil_card {
    background-color: rgba(255, 217, 0, 0);
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.page_users_accueil_card_header {
    background-color: rgba(0, 26, 255, 0);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0 auto;
}

.page_users_accueil_card_header_infos {
    background-color: rgba(255, 0, 0, 0);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.page_users_accueil_card_header_infos_img {
    background-color: rgba(0, 255, 191, 0);
    padding: 0;
    text-align: center;
}

.page_users_accueil_card_header_infos_img img {
    background-color: rgba(0, 255, 191, 0);
    padding: 0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.page_users_accueil_card_header_user {
    background-color: rgba(204, 0, 255, 0);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .5rem;
    font-size: .8rem;
}

.page_users_accueil_card_header_user_name {
    background-color: rgba(0, 47, 255, 0);
}

.page_users_accueil_card_header_btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;
    background-color: rgba(0, 247, 255, 0);
}

.page_users_accueil_card_header_btn {
    border-radius: .5rem;
    border: none;
    outline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: white;
    background-color: var(--marron);
    cursor: pointer;
    width: 150px;
    font-size: .8rem;
}

.page_users_accueil_card_header_btn:hover {
    opacity: 0.7;
}

.page_users_accueil_card_body {
    background-color: rgba(0, 38, 255, 0);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
}

.page_users_accueil_card_body_articles {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
}

.page_users_accueil_card_body_articles_btns {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.page_users_accueil_card_body_articles_btns_btn {
    border-radius: .5rem;
    border: none;
    outline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: white;
    background-color: var(--marron);
    cursor: pointer;
    width: 150px;
    font-size: .8rem;
}

.page_users_accueil_card_body_articles_btns_btn:hover {
    opacity: 0.7;
}

.page_users_accueil_card_body_articles_btns_title {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_users_accueil_card_body_articles_actions {
    background-color: rgba(255, 0, 0, 0);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.page_users_accueil_card_body_articles_link {
    background-color: rgba(0, 38, 255, 0);
}

.page_users_accueil_card_body_articles_link:hover {
    opacity: 0.7;
}


/* FIN USERS ACCUEIL */


/* FORGOTPASSWORD */

.forgotPassword_card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.forgotPassword_card_title {
    padding: 1rem;
    margin: 0;
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    background-color: #17a3b8;
}

@media only screen and (max-width: 960px) {
    /* body {
        font-size: 1.2rem;
    }
    .content {
        background-color: rgba(255, 0, 0, 0);
        float: none;
        display: block;
    } */
    .accueil {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    .accueil:last-of-type {
        margin-bottom: 3rem;
    }
    .accueil_aside {
        float: none;
        text-align: center;
        width: 100%;
    }
    .page_les_articles {
        padding: 1rem;
    }
}