{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

    <h2>Les derniers articles</h2>
<article class="page_les_articles">
    <div class="cards">
        <div class="card">
            <div class="card_img" style="background-image: url({{asset('assets/images/carte.jpg')}});">
                <h4 class="card_title"><b>10 000 ans avant Jésus-Christ</b></h4> 
            </div>
            <div class="card_body">
                <p>Cette période de l’histoire se termine en 476 ans après Jésus-Christ lorsque l’Empire Romain chute.</p>
                <a href="#">En savoir plus <span>&#8594;</span></a>
            </div>
        </div>
    </div>
</article>
{% endblock %}
